* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: #b7a5a5;
  color: #b12c9f;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#header {
  text-align: center;
  padding-top: 1rem;
  max-width: 100%;
  font-size: 2rem;
  font-style: italic;
  flex: 0 0 auto;
  background-color: #77e4ee;
  border-bottom: 10px solid #b12c9f;
}

#container {
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

#footer {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 550;
  flex: 0 0 auto;
  padding: 1.5rem;
  max-width: 100%;
  background-color: #b12c9f;
  color: #77e4ee;
  border-top: 10px solid #77e4ee;
}

#players-names-container {
  display: none;
  text-align: center;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#opponent-selector-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

#opponent-selector-btns button {
  width: 15rem;
  height: 4rem;
  margin: 0.5rem;
  padding: 1rem;
  text-align: center;
  background-color: #b12c9f;
  color: #77e4ee;
  outline: none;
  border: 3px solid #77e4ee;
  border-radius: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.9s ease-in-out, color 0.9s ease-in-out,
      width 0.9s ease-in-out, border 0.9s ease-in-out, height 0.9s ease-in-out;
}

#opponent-selector-btns button:hover {
  width: 15.5rem;
  height: 4.5rem;
  font-size: 1.3rem;
  background-color: #77e4ee;
  color: #b12c9f;
  border: 3px solid #b12c9f;
}

input {
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  width: 13rem;
  outline: none;
  height: 3rem;
  background-color: #77e4ee;
  color: #b12c9f;
  outline: none;
  border: 2px solid #b12c9f;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 550;
}

#start-game-btn-vs-player, #start-game-btn-vs-computer {
  width: 8rem;
  height: 4rem;
  text-align: center;
  padding: 0.5rem;
  background-color: #b12c9f;
  color: #77e4ee;
  outline: none;
  border: 3px solid #77e4ee;
  border-radius: 1rem;
  font-size: 2.5rem;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.9s ease-in-out, color 0.9s ease-in-out,
      width 0.9s ease-in-out, border 0.9s ease-in-out, height 0.9s ease-in-out;
}

#start-game-btn-vs-player:hover, #start-game-btn-vs-computer:hover {
  width: 8.5rem;
  height: 4.5rem;
  font-size: 3rem;
  background-color: #77e4ee;
  color: #b12c9f;
  border: 3px solid #b12c9f;
}

#game {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  margin: 1rem 1rem 0rem 1rem;
  max-width: 100%;
}

#scoreDisplay {
  background-color: #b12c9f;
  color: #77e4ee;
  text-align: center;
  padding: 0.25rem;
  font-size: 1.5rem;
  font-weight: 550;
  height: 70px;
  width: 300px;
  border-radius: 3rem;
  margin-bottom: 0.5rem;
  outline: none;
  border: 3px solid #77e4ee;
}

#gameBoard {
  display: grid;
  outline: none;
  border: none;
  border-radius: 3rem;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: repeat(3, minmax(100px, 1fr));
}

.square {
  display: flex;
  background-color: #77e4ee;
  border: 0.3rem solid #b12c9f;
  color: #b12c9f;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  border-radius: 1rem;
  font-size: 3rem;
  transition: background-color 0.8s ease-in-out, color 0.8s ease-in-out,
      font-size 0.8s ease-in-out, border 0.8s ease-in-out;
}

.square:hover {
  font-size: 4.5rem;
  color: #77e4ee;
  background-color: #b12c9f;
  border: 0.3rem solid #77e4ee;
}

#restart-btn {
  background-color: #b12c9f;
  color: #77e4ee;
  text-align: center;
  padding: 0.25rem;
  margin: 0.5rem;
  font-size: 1.5rem;
  font-weight: 550;
  height: 3rem;
  width: 7rem;
  border-radius: 1rem;
  outline: none;
  border: 3px solid #77e4ee;
  cursor: pointer;
  transition: background-color 0.9s ease-in-out, color 0.9s ease-in-out,
      width 0.9s ease-in-out, height 0.9s ease-in-out;
}

#restart-btn:hover {
  background-color: #77e4ee;
  color: #b12c9f;
  width: 7.3rem;
  height: 3.3rem;
}

#difficulty-select-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

#difficulty-select {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.5rem;
}

#difficulty-select select {
  width: 13rem;
  height: 2.5rem;
  color: #77e4ee;
  background-color: #b12c9f;
  font-size: larger;
  font-weight: 580;
  border-radius: 0.5rem;
  outline: none;
  border: 2px solid #77e4ee;
  text-align: center;
  padding: 0.2rem;
}

#difficulty-select label {
  text-align: center;
  font-weight: 600;
  font-size: larger;
}
#player-vs-player-form, #player-vs-computer-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
