* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  background-color: rgb(183, 165, 165);
  color: rgb(177, 44, 159);
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#header {
  text-align: center;
  padding-top: 1rem;
  max-width: 100%;
  font-size: 2rem;
  font-style: italic;
  flex: 0 0 auto;
  background-color: rgb(119, 228, 238);
  border-bottom: 10px solid rgb(177, 44, 159);
}
#container {
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}
#footer {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 550;
  flex: 0 0 auto;
  padding: 1.5rem;
  max-width: 100%;
  background-color: rgb(177, 44, 159);
  color: rgb(119, 228, 238);
  border-top: 10px solid rgb(119, 228, 238);
}
#players-names-container {
  text-align: center;
  padding: 1rem;
}
#players-names-container input {
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  width: 13rem;
  display: block;
  outline: none;
  height: 3rem;
  text-align: center;
  padding: 0.5rem;
  background-color: rgb(119, 228, 238);
  color: rgb(177, 44, 159);
  outline: none;
  border: 2px solid rgb(177, 44, 159);
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 550;

}
#start-game-btn {
  /* margin: 1rem; */
  width: 8rem;
  height: 4rem;
  text-align: center;
  padding: 0.5rem;
  background-color: rgb(177, 44, 159);
  color: rgb(119, 228, 238);
  outline: none;
  border: 3px solid rgb(119, 228, 238);
  border-radius: 1rem;
  font-size: 2.5rem;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.9s ease-in-out, color 0.9s ease-in-out,
    width 0.9s ease-in-out, height 0.9s ease-in-out;
}
#start-game-btn:hover {
  width: 8.5rem;
  height: 4.5rem;
  font-size: 3rem;
  background-color: rgb(119, 228, 238);
  color: rgb(177, 44, 159);
}
#game {
  display: flex;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  margin: 1rem 1rem 0rem 1rem;
  max-width: 100%;
}
#scoreDisplay {
  background-color: rgb(177, 44, 159);
  color: rgb(119, 228, 238);
  text-align: center;
  padding: 0.25rem;
  font-size: 1.5rem;
  font-weight: 550;
  height: 70px;
  width: 300px;
  border-radius: 3rem;
  margin-bottom: 0.5rem;
  outline: none;
  border: 3px solid rgb(119, 228, 238);
}
#gameBoard {
  display: grid;
  outline: none;
  border: none;
  border-radius: 3rem;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: repeat(3, minmax(100px, 1fr));
}
.square {
  display: flex;
  background-color: rgb(119, 228, 238);
  border: 0.3rem solid rgb(177, 44, 159);
  color: rgb(177, 44, 159);
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 1rem;
  font-size: 3rem;
  transition: background-color 0.8s ease-in-out, color 0.8s ease-in-out,
    font-size 0.8s ease-in-out, border 0.8s ease-in-out;
}
.square:hover {
  font-size: 4.5rem;
  color: rgb(119, 228, 238);
  background-color: rgb(177, 44, 159);
  border: 0.3rem solid rgb(119, 228, 238);
}
#restart-btn {
  background-color: rgb(177, 44, 159);
  color: rgb(119, 228, 238);
  text-align: center;
  padding: 0.25rem;
  margin: 0.5rem;
  font-size: 1.5rem;
  font-weight: 550;
  height: 3rem;
  width: 7rem;
  border-radius: 1rem;
  outline: none;
  border: 3px solid rgb(119, 228, 238);
  cursor: pointer;
  transition: background-color 0.9s ease-in-out, color 0.9s ease-in-out,
    width 0.9s ease-in-out, height 0.9s ease-in-out;
}
#restart-btn:hover {
  background-color: rgb(119, 228, 238);
  color: rgb(177, 44, 159);
  width: 7.3rem;
  height: 3.3rem;
}
